# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/


# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

__pycache__/
*.pyc